<h1 class="text-center my-4">Select A Service</h1>
<%= link_to 'Add service', new_service_path %>
<div class="container">
  <div class="row py-4">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-lg-4 py-4">
        <div class="card" style="width: 18rem;">
          <%= image_tag "Interior Design.jpeg",class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= service.speciality %></h5>
            <p class="card-text"><%= service.description %>.</p>
            <%= link_to "book",service_path(service),class:"btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


   <!--  description: Faker::Hipster.word,
    rate: rand(200..5000),
    user: u,
    speciality:  Service::SPECIALITIES.sample,
    project_type: Service::PROJECT_TYPE.sample -->
