<h1 class="text-center my-4">Select A Service</h1>

<div class="container">
  <%= link_to 'Add service', new_service_path,class: "btn btn-primary"  %>

  <%= form_tag services_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a style or designer"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="row py-4">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-lg-4 py-4">
        <div class="card" style="width: 18rem;"
          <%= image_tag "Interior Design.jpg",class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= service.speciality.capitalize %></h5>
            <p class="card-text"><%= service.description.capitalize %>.</p>
            <p class="card-text">Designer: <%= service.user.name.capitalize %>.</p>
            <p class="card-text">Project type: <%= service.project_type.capitalize %>.</p>
            <%= link_to "book",service_path(service),class:"btn btn-primary"%>
            <%= link_to "Delete", service_path(service.id), data: {confirm: "Are you sure?" }, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


   <!--  description: Faker::Hipster.word,
    rate: rand(200..5000),
    user: u,
    speciality:  Service::SPECIALITIES.sample,
    project_type: Service::PROJECT_TYPE.sample -->
