<h1>Add a service</h1>


<%= simple_form_for (@service) do |f| %>
  <%= f.input :description %>
  <%= f.input :rate %>
  <%= f.input :speciality %>
  <%= f.input :project_type %>
  <%= f.submit "Add service"%>
<% end %>
