<div class= "container">

<div class="card mb-3" style="max-width: 1400px;">
  <div class="row no-gutters">
    <div class="col-md-4" style= "text-align: center;">
      <%= image_tag "Marie LaVeau.jpeg",class:"card-img" %>
      <%= link_to "Book",service_path(@service),class:"btn btn-primary"%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @service.user.name.capitalize %></h5>
        <p class="card-text ">

        <p>Rate: <%= @service.rate %></p>

        <p>Speciality: <%= @service.speciality %> </p>

        <p>Project: <%= @service.project_type %></p>

        <p>Project Count: <%= @service.user.project_count %></p>

        <p>Bio: <%= @service.user.bio %></p>

        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  </div>

<div class="photoes-gallery">
 <div class="d-flex justify-content-around bd-highlight">
  <div>
    <%= image_tag "Marie Living Room.jpeg",class:"d-block photo-thumbnil"%>
  </div>
  <div>
    <%= image_tag "Marie Living Room Two.jpeg",class:"d-block photo-thumbnil" %>
  </div>
  <div>
    <%= image_tag "Marie Kitchen.png",class:"d-block photo-thumbnil" %>
  </div>
   <div>
    <%= image_tag "Marie Bedroom.jpeg",class:"d-block photo-thumbnil" %>
  </div>
</div>
</div>
