
<div class= "container">

<div class="card mb-3" style="max-width: 1400px;">
  <div class="row no-gutters">
    <div class="col-md-4" style= "text-align: center;">
      <%= image_tag "Designer11.jpg",class:"card-img" %>
      <%= link_to "Book",service_path(@service),class:"btn btn-primary"%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Marie LaVeau</h5>
        <p class="card-text ">

        <p>Experience: 10 years</p>

        <p>Rate: $500</p>

        <p>Specialty: Industial, Rustic, Scandinavian, Bohemian</p>

        <p>Project: Individual Rooms</p>

        <p>Project Count: 100</p>

        <p>Bio: I hail from California and I am a gradute of The New School. I have been an interior designer for
        10 years and have worked with some of the biggest names in the indesign. I belive in designing from
        the heart to create the ultimate design experience.</p>

        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  </div>

<div class="photoes-gallery">
 <div class="d-flex justify-content-around bd-highlight">
  <div>
    <%= image_tag "Marie Living Room.jpeg",class:"d-block photo-thumbnil"%>
  </div>
  <div>
    <%= image_tag "Marie Living Room Two.jpeg",class:"d-block photo-thumbnil" %>
  </div>
  <div>
    <%= image_tag "Marie Kitchen.png",class:"d-block photo-thumbnil" %>
  </div>
   <div>
    <%= image_tag "Marie Bedroom.jpeg",class:"d-block photo-thumbnil" %>
  </div>
</div>
</div>
</div>

